root = true

[*]
end_of_line = lf
indent_style = space
indent_size = 2
insert_final_newline = true
charset = utf-8

[*.{cs,vb}]
dotnet_diagnostic.CA1303.severity = none
dotnet_diagnostic.CA1056.severity = none
dotnet_diagnostic.CA1034.severity = none
dotnet_diagnostic.CA1054.severity = none
dotnet_diagnostic.CA2227.severity = none
dotnet_diagnostic.CA1308.severity = none
dotnet_diagnostic.CA1002.severity = none
# TODO: Enable for next major version, EventArgs breaking change:
dotnet_diagnostic.CA1003.severity = none
#
# Sort using and Import directives with System.* appearing first
dotnet_sort_system_directives_first = true
dotnet_style_require_accessibility_modifiers = always:warning

# Avoid "this." and "Me." if not necessary
dotnet_style_qualification_for_field = false:warning
dotnet_style_qualification_for_property = false:warning
dotnet_style_qualification_for_method = false:warning
dotnet_style_qualification_for_event = false:warning

# Code-block preferences
csharp_prefer_braces = true:warning
csharp_prefer_simple_using_statement = true:warning

# Custom disabled
