language: python
python:
  - "2.6"
  - "2.7"
  - "3.2"
  - "3.3"
  - "3.4"
# command to install dependencies
install:
  - "pip install mkdocs"
# command to run tests
before_script: "mkdocs build --clean" 
script: "push-ghpages.sh"