/* stylelint-disable docusaurus/copyright-header */
/**
 * Any CSS included here will be global. The classic template
 * bundles Infima by default. Infima is a CSS framework designed to
 * work well for content-centric websites.
 */

/* You can override the default Infima variables here. */
:root {
  --ifm-color-primary: #1db954;
  --ifm-color-primary-dark: #1aa74c;
  --ifm-color-primary-darker: #199d47;
  --ifm-color-primary-darkest: #14823b;
  --ifm-color-primary-light: #20cb5c;
  --ifm-color-primary-lighter: #21d561;
  --ifm-color-primary-lightest: #37e072;
  --ifm-code-font-size: 95%;
}

.docusaurus-highlight-code-line {
  background-color: rgb(72, 77, 91);
  display: block;
  margin: 0 calc(-1 * var(--ifm-pre-padding));
  padding: 0 var(--ifm-pre-padding);
}
