@model IndexModel
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    You have @Model.SavedTracks.Total saved tracks in your library! Here are 50 of them:

    @* <ul>
      @foreach (var item in Model.SavedTracks.Items)
      {
        <li>@item.Track.Name</li>
      }
    </ul> *@
</div>
